@import './variables.css';

@layer base {
    html {
        @apply preset-font-nine;
    }

    body {
        background-image: var(--home-lg-background);
        color: white;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
}

@utility preset-font-one {
    font: 400 144px/171.9% var(--font-primary);
    letter-spacing: 0px;
}

@utility preset-font-two {
    font: 400 100px/114.6% var(--font-secondary);
    letter-spacing: 0px;
}

@utility preset-font-three {
    font: 400 56px/164.2% var(--font-secondary);
    letter-spacing: 0px;
}

@utility preset-font-four {
    font: 400 32px/136.7% var(--font-secondary);
    letter-spacing: 0px;
}

@utility preset-font-five {
    font: 400 28px/133.6% var(--font-secondary);
    letter-spacing: 4px;
}

@utility preset-font-six {
    font: 400 14px/132.1% var(--font-primary);
    letter-spacing: 0px;
}

@utility preset-font-seven {
    font: 400 14px/116.8% var(--font-primary);
    letter-spacing: 2px;
}

@utility preset-font-eight {
    font: 400 16px/119.2% var(--font-primary);
    letter-spacing: 2px;
}

@utility preset-font-eight-bold {
    font: bold 16px/119.2% var(--font-primary);
    letter-spacing: 2px;
}

@utility preset-font-nine {
    font: 400 18px/180% var(--font-tertiary);
    letter-spacing: 2.7px;
}